<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
   <h1>Welcome</h1>
   <a href="./about">Click here</a>
   <a href="/signup"></a>
   <div class="main-page">
      <nav>
         <div>Sidenav</div>
      </nav>
      <div class="center-page">
         Here is the center
         <div class="login-card">
            <form action="/login" id="example-form" method="POST">
               <label for="email-id">
                   Email email-id:
                   <input type="text" name="emailid" id="email-id">
               </label>
       
               <label for="password">
                   Password password:
                   <input type="password" name="password" id="password">
               </label>
           
               <input type="submit" value="Create new user">
            </form>
         </div>
      </div>
      <footer>
         Here is the footer
      </footer>
   </div>
<script src="../src/js/index.js" type="text/javascript"></script>
</body>
</html>



