<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users" id="example-form" method="POST">
        <label for="first-name">
            <strong>First Name:</strong>
            <input type="text" name="first_name" id="first-name">
        </label>
    
        <label for="last-name">
            Last Last-Name:
            <input type="text" name="last_name" id="last-name">
        </label>

        <label for="email-id">
            Email email-id:
            <input type="text" name="emailid" id="email-id">
        </label>

        <label for="password">
            Password password:
            <input type="password" name="password" id="password">
        </label>
    
        <input type="submit" value="Create new user">
    </form>
    <script src="../src/js/signup.js"></script>
</body>
</html>